<% if obj.errors.any? %>
  <% obj.errors.full_messages.each do |message| %>
    <ul>
      <li>
        <strong class="error_message"><%= message %></strong>
      </li>
    </ul>
  <% end %>
<% end %>